config.json
log
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories (vendor/)
vendor/

# Go workspace file
go.work
go.work.sum

# Go build cache
*.cache
**/*.cache

# IDE/editor specific
.vscode/
.idea/
*.swp
*.swo

# MacOS files
.DS_Store
