services:
  api:
    image: ghcr.io/rihanodev/web-portofolio-backend:latest
    container_name: web-porto-api
    restart: unless-stopped
    environment:
      - GIN_MODE=release
      - SERVER_PORT=1200
    ports:
      - "1200:1200"
    volumes:
      - ./config.json:/app/config.json:ro
    depends_on:
      - db
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: web_porto_cms
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: unless-stopped
  adminer:
    image: adminer:4
    ports:
      - "8081:80"
    restart: unless-stopped
volumes:
  db_data:
